<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/fevicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/port.css">
    <title>KS Portfolio</title>
    
</head>
<body>

    <article class="main">

    <section class="page1" id="pagee1">
        <!-- navbar  -->
        <nav>
            <section class="layer1">
                <h1>PORTFOLIO</h1>
                <div id="dark" class="theme1" onclick="darktheme()"></div>
                <div id="slide" class="slider"></div>
                <div id="light" class="theme2" onclick="lighttheme()"></div>
                <div id="dark1" class="theme12" onclick="darktheme()"></div>
                <div id="slide2" class="slider2"></div>
                <div id="light2" class="theme22" onclick="lighttheme()"></div>
            </section>
            <section class="layer2">
                <ul>
                    <li><a href="#" id="a1">About Me</a></li>
                    <li><a href="#" id="a2">Contact Me</a></li>
                </ul>
            </section>
        </nav>

        <!-- image  -->
        <div class="img">
            <h2>hello world</h2>
        </div>
      



    </section>

    <section class="page2" id="pagee2"></section>
</article>

    

<script src="/static/json.js"></script>
</body>
</html>